<!-- Footer-->
<footer class="bg-gradient-primary-to-secondary text-center text-white py-5 lazy-section-bottom">
    <div class="container px-5">
        <div class="row mb-4">
            <div class="col-lg-4 col-sm-4 text-white small">
                <div class="mb-2">
                    <div>
                        <p>Alsi réalise des sites internet éco-responsables, épurés et sans fonctionnalités inutiles
                            afin de se focaliser sur l’essentiel : une expérience utilisateur optimale et un geste
                            bienveillant grâce à l’éco-conception web.</p>
                    </div>
                    <div>
                        <a href="https://bff.ecoindex.fr/redirect/?url=https://www.ecoindex.fr/resultat/?id=34b21090-7a5a-4328-8b1a-10f3c4890e64"
                           target="_blank" title="Ecoindex Badge">
                            <img src="https://bff.ecoindex.fr/badge/?theme=light&url=https://www.ecoindex.fr/resultat/?id=4a232858-58fb-4b61-b908-9070b0e31c7a"
                                 alt="Ecoindex Badge"/>
                        </a>
                        <br>
                        <br>
                        <div id="wcb" class="carbonbadge"></div>
                    </div>
                </div>
            </div>
            <div class="offset-lg-2 col-lg-4 offset-sm-1 col-sm-4 text-start text-white small">
                <div class="mb-2">Naviguez</div>
                <a href="{{ path('front_commitment') }}" title="Nos engagements">
                    <span class="d-flex align-items-center">
                        <span class="small">Nos engagements</span>
                    </span>
                </a>
                <a href="{{ path('front_process') }}" title="Notre méthodologie">
                    <span class="d-flex align-items-center">
                        <span class="small">Notre méthodologie</span>
                    </span>
                </a>
            </div>
            <div class="col-lg-2 col-sm-2 text-start text-white small">
                <div class="mb-2">Communiquez</div>
                <a {{ stimulus_action('commun', 'modalOpen', 'click') }}
                        data-modal-title="Nous Contacter"
                        class="open-front-modal"
                        href="{{ path('front_contact') }}"
                        title="contact"
                >
                    <span class="d-flex align-items-center">
                        <span class="small">contact</span>
                    </span>
                </a>
                <a href="mailto:eco@alsi-webtech.fr" title="eco@alsi-webtech.fr">
                    <span class="d-flex align-items-center">
                        <span class="small">eco@alsi-webtech.fr</span>
                    </span>
                </a>
                <a href="tel:+33695565822" title="06.95.56.58.22">
                     <span class="d-flex align-items-center">
                        <span class="small">06.95.56.58.22</span>
                    </span>
                </a>
                <a class="open-front-modal" {{ stimulus_action('commun', 'modalOpen', 'click') }}
                   data-modal-title="Planifier un rendez-vous"
                   title="Planifiez un rendez-vous"
                   href="{{ path('front_calendly') }}">
                    <span class="d-flex align-items-center">
                        <span class="small">rendez-vous</span>
                    </span>
                </a>
            </div>
        </div>
        <div class="row small">
            <div class="col-5">
                <a href="{{ path('front_legal_mentions') }}" title="Mentions légales">mentions légales</a> |
                <a href="{{ path('front_privacy') }}" title="Confidentialité">protection des données</a>
            </div>
            <div class="offset-2 col-5">
                <p class="mb-2">&copy; Alsi 2021. All Rights Reserved. | Créer par Frandzdy Sanon</p>
            </div>
        </div>
    </div>
</footer>
