<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-sm" id="mainNav">
    <div class="container px-5">
        <a class="navbar-brand fw-bold" href="#page-top">Green</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" href="{{ path('front_home') }}#services">Notre Solution</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{{ path('front_home') }}#testimonials">Témoignages</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" href="{{ path('front_blog') }}">Blog</a></li>
            </ul>
            <a {{ stimulus_action('commun', 'modalOpen', 'click') }}
                    data-modal-title="Nous Contacter" class="btn btn-primary open-front-modal rounded-pill px-3 mb-2 mb-lg-0"
                    href="{{ path('front_contact') }}"
            >
                    <span class="d-flex align-items-center">
                        <i class="bi-chat-text-fill me-2"></i>
                        <span class="small">Nous Contacter</span>
                    </span>
            </a>
        </div>
    </div>
</nav>
