{% extends 'back/layout.html.twig' %}
{% trans_default_domain 'message' %}

{% block title %}Configuration{% endblock %}

{% block content %}
<div>
    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
    {{ form_row(form.accessLogistic) }}
    {{ form_row(form.accessEntry) }}
    {{ form_row(form.esEntry) }}
    {{ form_row(form.esOut) }}
    {{ form_row(form.zoneSg) }}
    {{ form_row(form.zoneRec) }}
    {{ form_end(form) }}
</div>
{% endblock %}
