{% extends 'back/layout.html.twig' %}

{% trans_default_domain 'message' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block content %}
    <div class="align-content-center">
        <h1>Liste des utilisateurs</h1>
    </div>
    <div class="row my-4 table-responsive">
        {# total items count #}
        <div class="row gx-6">
            <div class="col count">
                Nombre d'utilisateur : {{ users.getTotalItemCount }}
            </div>
            <div class="col text-end mb-3">
                <a href="{{ path('back_user_create') }}"
                   data-modal-title="Création d'un compte utilisateur"
                   class="btn btn-primary open-front-modal">
                    Ajouter un utilisateur
                </a>
            </div>
        </div>
        <table class="table table-striped">
            <thead>
            <tr class="text-center text-black">
                <th {% if users.isSorted('user.id') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Id', 'user.id') }}
                </th>
                <th {% if users.isSorted('user.email') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Login', 'user.email') }}
                </th>
                <th {% if users.isSorted('user.lastname') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Nom', 'user.lastname') }}
                </th>
                <th {% if users.isSorted('user.firstname') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Prénom', 'user.firstname') }}
                </th>
                <th {% if users.isSorted('user.roles') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Rôles', 'user.roles') }}
                </th>
                <th {% if users.isSorted('user.activate') %} class="sorted"{% endif %}>
                    {{ knp_pagination_sortable(users, 'Activer', 'user.activate') }}
                </th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr class="user-add-zone text-center">
                    <td>{{ user.id }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.lastname }}</td>
                    <td>{{ user.firstname }}</td>
                    <td>{{ user.roleAsLabel|join(', ') }}</td>
                    <td>{{ user.activate ? 'Oui' : 'Non' }}</td>
                    <td class="text-start">
                        <a href="{{ path('back_user_edit', { 'user': user.id}) }}"
                           data-modal-title="Edition : {{ user.lastname }}"
                           class="btn btn-primary open-front-modal">
                            Modifier
                        </a>
                        {% if user.isDeletable %}
                            <a href="{{ path('back_user_delete', {'user' : user.id}) }}"
                               class="btn btn-xs btn-danger post-confirm"
                               data-button-text="Suppression"
                               data-title="Suppression"
                               data-confirm-message="Souhaitez-vous supprimer cet utilisateur ?">
                                Supprimer
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {# display navigation #}
        <div class="navigation">
            {{ knp_pagination_render(users) }}
        </div>
    </div>
{% endblock %}
