<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="turbo-prefetch" content="false">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Green - Votre partenaire en développement numérique éco-responsable. Pour chaque projet réalisé, nous plantons un arbre avec notre fondation partenaire.">
    <meta name="keywords"
          content="Green, développement éco-responsable, numérique durable, plantation d'arbres, technologie verte, développement web, impact environnemental">
    <title>Green | Numérique Éco-Responsable</title>
    <link rel="canonical" href="{{ app.request.uri }}">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        <script>
            var ggRecaptchaPkey = '{{ googleRecaptchaPkey }}';
        </script>
        {% block importmap %}{{ importmap(['app', 'front_app']) }}{% endblock %}
        <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}" defer></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}" defer></script>
        <script src="https://www.google.com/recaptcha/api.js?render={{ googleRecaptchaPkey }}"></script>
    {% endblock %}
</head>
<body class="container" id="page-top" {{ stimulus_controller('commun') }}>
{% block body %}{% endblock %}

{% block javascripts_toastr %}
    {% for flash_message in app.session.flashBag.get('error') %}
    <script>toastr.error("{{ flash_message }}")</script>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('success') %}
    <script>toastr.success("{{ flash_message }}")</script>
    {% endfor %}
{% endblock %}
</body>
</html>
