{% trans_default_domain 'message' %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="turbo-prefetch" content="false">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Faurécia Truck Flow{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="194x194" href="{{ asset('favicon-194x194.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ asset('android-chrome-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('favicon-16x16.png') }}">
    <link rel="manifest" href="{{ asset('site.webmanifest') }}">
    <link rel="mask-icon" href="{{ asset('safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">
    {% block stylesheets %}{% endblock %}

    {% block importmap %}{{ importmap(['app', 'back_app']) }}{% endblock %}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}" defer></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}" defer></script>
</head>
<body class="container" {{ stimulus_controller('commun') }}>
{% block body %}{% endblock %}

{% block javascripts %}
    {% for flash_message in app.session.flashBag.get('error') %}
    <script>toastr.error("{{ flash_message|trans }}")</script>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('info') %}
    <script>toastr.warning("{{ flash_message|trans }}")</script>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('success') %}
    <script>toastr.success("{{ flash_message|trans }}")</script>
    {% endfor %}
{% endblock %}
</body>
</html>
