<script>
    function onSubmit(token) {
        let contactFormTarget = document.getElementById("contactForm");
        let $btn = $('input[type="submit"]');
        $btn
            .attr('disabled', 'disabled');
        // Add your logic to submit to your backend server here.
        $.post(
            Routing.generate('front_recaptcha_check', {'token': token})
        ).done(async (data) => {
            if (data.response) {
                const $form = $(contactFormTarget);
                $form.submit();
            } else {
                $btn.html('Envoyer').removeAttr('disabled');
                toastr.error("Vous avez été identifié comme robot; si ce n'est pas le cas, veuillez réessayer.");
            }
        });
    }
</script>
<div>
    {{ form_start(form, {attr:{'id': 'contactForm', 'autocomplete': 'off', 'formnovalidate': 'formnovalidate'}}) }}
    {{ form_row(form.companyName) }}
    {{ form_row(form.lastname) }}
    {{ form_row(form.firstname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.subject) }}
    {{ form_row(form.message) }}
    {{ form_row(form.uploadFile) }}
    <div class="d-grid">
        <button class="g-recaptcha btn btn-primary rounded-pill btn-lg" formnovalidate data-sitekey="{{ googleRecaptchaPkey }}" data-callback="onSubmit">Envoyer</button>
    </div>
    {{ form_end(form) }}
</div>
